<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <title>Visitor Management System</title>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

    * {
      margin: 0;
      padding: 0;
      outline: none !important;
      scroll-behavior: smooth;
    }

    html,
    body {
      overflow-x: hidden;
      font-family: 'Poppins', sans-serif;
    }

    header {
      position: relative;
      z-index: 1000000;
    }

    p {
      font-size: 1.15rem;
    }

    .navbar {
      background: transparent !important;
      transition: 0.5s;
    }

    .navbar.scrolled {
      background: #000 !important;
      transition: 0.5s;
    }

    .navbar-light .navbar-nav .active>.nav-link,
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .show>.nav-link {
      color: #000;
      background: white;
    }

    .navbar-light .navbar-nav .active>.nav-link:hover {
      color: black;
    }

    .navbar-light .navbar-nav .nav-link {
      color: rgba(255, 255, 255, .8);
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link:focus {
      color: rgba(255, 255, 255, 1);
    }

    .navbar-light .navbar-brand,
    .navbar-light .navbar-brand:hover,
    .navbar-light .navbar-brand:focus,
    .navbar-light .navbar-brand:visited {
      color: rgba(255, 255, 255, 1);
      font-size: 2.5rem;
      font-weight: 600;
    }

    .banner {
      position: relative;
      top: 0;
      width: 100%;
      height: 100vh;
      background: url(./Login/public/images/monochrome-photo-of-building-1816798.jpg);
      background-size: cover;
      margin-bottom: 0;
      background-position: center;
      background-position-y: center;
    }

    .banner::before,
    .sec2::before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
      height: 400px;
      background: linear-gradient(#000, transparent);
      pointer-events: none;
    }

    .banner::after,
    .sec2::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      height: 400px;
      background: linear-gradient(360deg, #000, transparent);
      pointer-events: none;
    }

    .height100p {
      height: 100vh;
    }

    .h100p {
      height: 100%;
    }

    .bookvisit {
      padding: 100px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: #000;
    }

    .bookvisit .container {
      width: 80%;
      padding: 20px;
    }

    .bookvisit .container h2 {
      width: 100%;
      color: #45f3ff;
      font-size: 36px;
      text-align: center;
      margin-bottom: 10px;
    }

    .bookvisit .container .row100 {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .bookvisit .container .row100 .col {
      position: relative;
      width: 100%;
      padding: 0 10px;
      margin: 30px 0 10px;
      transition: 0.5s;
    }

    .bookvisit .container .row100 .inputbox {
      position: relative;
      width: 100%;
      height: 40px;
      color: #45f3ff;
    }

    .bookvisit .container .row100 .inputbox input,
    .bookvisit .container .row100 .inputbox.textarea textarea {
      position: absolute;
      width: 100%;
      height: 100%;
      background: transparent;
      box-shadow: none;
      border: none;
      outline: none;
      font-size: 18px;
      padding: 0 10px;
      z-index: 1;
      color: #000;
    }

    .bookvisit .container .row100 .inputbox .text {
      position: absolute;
      top: 0;
      left: 0;
      line-height: 40px;
      font-size: 18px;
      padding: 0 10px;
      display: block;
      transition: 0.5s;
      pointer-events: none;
    }

    .bookvisit .container .row100 .inputbox input:focus+.text,
    .bookvisit .container .row100 .inputbox input:valid+.text {
      top: -35px;
      left: -10px;
    }

    .bookvisit .container .row100 .inputbox .line {
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 2px;
      background: #45f3ff;
      transition: 0.5s;
      border-radius: 2px;
      pointer-events: none;
    }

    .bookvisit .container .row100 .inputbox input:focus~.line,
    .bookvisit .container .row100 .inputbox input:valid~.line {
      height: 100%;
    }

    .height100p {
      height: 100vh;
    }

    .h100p {
      height: 100%;
    }

    .headerText {
      color: #fff;

    }

    .headerText h2 {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }

    .headerText p {
      text-align: left;
    }

    .bookvisit .container .row100 .inputbox.textarea {
      position: relative;
      width: 100%;
      height: 100px;
      padding: 10px 0;
    }

    .bookvisit .container .row100 .inputbox.textarea textarea {
      height: 100%;
      resize: none;
    }

    .bookvisit .container .row100 .inputbox textarea:focus+.text,
    .bookvisit .container .row100 .inputbox textarea:valid+.text {
      top: -35px;
      left: -10px;
    }

    .bookvisit .container .row100 .inputbox textarea:focus~.line,
    .bookvisit .container .row100 .inputbox textarea:valid~.line {
      height: 100%;
    }

    input[type="submit"] {
      border: none;
      padding: 7px 35px;
      cursor: pointer;
      outline: none;
      background: #45f3ff;
      color: #000;
      font-size: 18px;
      border-radius: 2px;
    }

    .sec2 {
      position: relative;
      background: #000;
      background-size: cover;
      height: 100vh;
    }

    .sec2 h2 {
      font-weight: 800;
      position: absolute;
      top: 19%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff !important;
      text-transform: uppercase;
      font-size: 4.5rem;
    }

    .sec2 p {
      font-weight: 800;
      font-size: 2.0rem;
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(253, 253, 253);
    }

    .extra {
      padding: 100px 0;
      background: #000;
    }

    .extra li {
      color: #fff;
      text-align: center;
      list-style-type: none;
      margin: 0 20px;
      display: inline;
      font-size: 1.5rem;
    }

    .extra a {
      text-decoration: none;
    }

    .extra .headerText p {
      text-align: center;
      color: #fff;
    }

    .extra .headerText h2 {
      color: #fff;
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 70px;
    }

    .contact {
      padding: 100px 0;
      background: #000;
    }

    .contact li {
      color: #fff;
      text-align: center;
      list-style-type: none;
      margin: 0 20px;
      display: inline;
      font-size: 1.5rem;
    }

    .contact .headerText p {
      text-align: center;
      color: #fff;
    }

    .contact .headerText h2 {
      color: #fff;
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 70px;
    }


    footer {
      background-color: black;
      padding: 50px 0 0;
    }

    .sci {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .sci li {
      list-style-type: none;
      margin: 0 20px;
      display: inline;
    }

    .sci li a {
      color: #777;
      font-size: 2em;
      transition: 0.5s;
    }

    .sci li a:hover {
      color: #fff;
    }

    .cpryt {
      margin-top: 20px;
      text-align: center;
      color: #777;
    }

    .cpryt a,
    .cpryt a:hover {
      color: #fff;
    }

    @media (min-width: 992px) {
      .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }

    @media (max-width: 992px) {
      .navbar-light .navbar-toggler {
        background-color: #fff;
        border-radius: 0;
      }

      .banner {
        min-height: 100vh;
        padding: 100px 0;
      }

      .container .navbar-brand {
        font-size: 1.5rem;
      }

      .sec2 h2 {
        font-size: 2.5rem;
      }

      .sec2 p {
        font-size: 1.5rem;
      }

      .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }

      .cpryt {
        font-size: 0.7rem;
      }

      .sci li {
        margin: 0 10px;
      }

      .contact ul {
        text-align: left;
      }
    }
  </style>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Ahmedabad University</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item">
              <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#bookvisit">Schedule Visit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#records">Records</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#extra">Extra</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="jumbotron jumbotron-fluid height100p banner" id="home">
    <div class="container h100">
      <div class="contentBox h100">
      </div>
    </div>
  </div>
  <section class="bookvisit" id="bookvisit">
    <div class="container">
      <h2>Schedule Visit</h2>
      <div class="row100">
        <div class="col">
          <div class="inputbox">
            <input type="text" name="name" id="name" required="required">
            <span class="text">Parent’s / Guardian’s Name</span>
            <span class="line"></span>
          </div>
        </div>
        <div class="col">
          <div class="inputbox">
            <input type="number" name="cn" id="cn" required="required">
            <span class="text">Contact Number</span>
            <span class="line"></span>
          </div>
        </div>
      </div>
      <div class="row100">
        <div class="col">
          <div class="inputbox">
            <input type="text" name="sc" id="sc" required="required">
            <span class="text">School City</span>
            <span class="line"></span>
          </div>
        </div>
        <div class="col">
          <div class="inputbox">
            <input type="text" name="ss" id="ss" required="required">
            <span class="text">School State</span>
            <span class="line"></span>
          </div>
        </div>
      </div>
      <div class="row100">
        <div class="col">
          <div class="inputbox">
            <input type="number" name="nv" id="nv" required="required">
            <span class="text">Number of Visitors</span>
            <span class="line"></span>
          </div>
        </div>
      </div>
      <div class="row100">
        <div class="col">
          <div class="inputbox textarea">
            <textarea id="msg" required="required"></textarea>
            <span class="text">Message</span>
            <span class="line"></span>
          </div>
        </div>
      </div>
      <div class="row100">
        <div class="col">
          <input type="submit" value="Send">
        </div>
      </div>
    </div>
  </section>
  <section class="sec2" id="records">
    <div class="container h100">
      <div class="contentBox h100">
        <br><br><br><br>
        <h2>Records</h2>
        <br><br>
        <div class="container">
          <table class="table table-dark table-boarderless table-hover" style="margin-top: 200px;">
            <thead>
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </section>
  <section class="extra" id="extra">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="headerText text-center">
            <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Extra Information</h2>
            <br>
            <br>
            <ul>
              <li data-aos="fade-up" data-aos-duration="1000" data-aos-delay="250">
                <a href="https://ahduni.edu.in/meet-student-ambassadors" target="_blank">Our Student Ambassadors</a>
              </li>
              <li data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                <a href="https://ahduni.edu.in/student-resources#hostel" target="_blank">Student Housing</a>
              </li>
              <li data-aos="fade-up" data-aos-duration="1000" data-aos-delay="750">
                <a href="https://ahduni.edu.in/campus-information" target="_blank">Campus Information</a>

              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="headerText text-center">
            <br><br><br><br><br><br><br>
            <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Contact Us.</h2>
            <br>
            <br>
            <ul>
              <li data-aos="fade-up" data-aos-duration="1000" data-aos-delay="250">
                +91-79-61911200, 61911201
              </li>
              <li data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                +91-79-26440396
              </li>
              <li data-aos="fade-up" data-aos-duration="1000" data-aos-delay="750">
                info@ahduni.edu.in
              </li>
            </ul>
            <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000"><br>Office Hours:
              Monday to Friday<br>
              9:00 to 18:00 hours IST.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="sci">
            <li>
              <a href="https://www.facebook.com/AhmedabadUniversity/" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/AhdUniv" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://ahduni.edu.in/" target="_blank">
                <i class="fa fa-google"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/ahduniv/" target="_blank">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/user/AhdUniVideos" target="_blank">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/school/ahmedabaduniversity/" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
          <p class="cpryt">
            © Copyright 2020 Ahmedabad University, All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script>
    $(document).scroll(function () {
      $('.navbar').toggleClass('scrolled', $(this).scrollTop() > $('.navbar').height());
    });
  </script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>