<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <title>Visitor Management System</title>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  outline: none !important;
  scroll-behavior: smooth;
}

html,body
{
  overflow-x: hidden;
  font-family:'Poppins',sans-serif;
}
header{
  position: relative;
  z-index: 1000000;
}
p{
  font-size: 1.15rem;
}
.navbar
{
  background: transparent !important;
  transition: 0.5s;
}
.navbar.scrolled
{
  background: #000 !important;
  transition: 0.5s;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #000;
  background: white;
}
.navbar-light .navbar-nav .active >.nav-link:hover
{
color: black;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255,.8);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus
{
  color: rgba(255,255,255,1);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited {
  color: rgba(255,255,255,1);
  font-size: 2.5rem;
  font-weight: 600;
}

.banner
{
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  background: url(/images/IMG_20181018_090220.jpg);
  background-size: cover;
  margin-bottom: 0;
  background-position: center;
}

.banner::before,
.sec2::before
{
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 400px;
  background: linear-gradient(#000,transparent);
  pointer-events: none;
}

.banner::after,
.sec2::after
{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 400px;
  background: linear-gradient(360deg,#000,transparent);
  pointer-events: none;
}

.height100p
{
  height: 100vh;
}

.h100p
{
  height: 100%;
}
.sec1
{
  padding: 100px 0;
  background: #000;
}
.headerText
{
  color:#fff;
 
}
.headerText h2{
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.headerText p{
  text-align: left;
}

.placeBox
{
  position: relative;
  max-width: 300px;
  height: 400px;
  margin: 0 auto;
  background: #000;
  margin-top: 30px;
}
.placeBox .imgBx
{
  width: 100%;
  height: 100%;
}
.placeBox .imgBx img
{
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec2
{
  position: relative;
  background: url(/images/white-flower-on-book-1846422.jpg);  
  background-size: cover;
  height: 100vh;
}

.sec2 h2
{
  font-weight: 800;
  position: absolute;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff !important;
  text-transform: uppercase;
  font-size: 4.5rem;
}

.sec2 p
{
  font-weight: 800;
  font-size: 2.0rem;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(253, 253, 253);
}

.Map
{
  padding: 100px 0;
  background: #000;
}

.Map  .headertext
{
  color:#fff;
 
}
.Map .headertext h2{
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.Map .headertext p{
  text-align: left;
}

.MapClass .imgBx
{
  width: 100%;
  height: 100%;
}

.MapClass .imgBx img
{
  object-position: center !important;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
}

.contact 
{
  padding: 100px 0;
  background: #000;
}
.contact li{
  color: #fff;
  text-align: center;
  list-style-type: none;
  margin: 0 20px;
  display: inline;
  font-size: 1.5rem;
}
.contact .headerText  p
{
  text-align: center;
  color: #fff;
}

.contact .headerText h2
{
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 70px;
}

footer
{
  background-color: black;
  padding: 50px 0 0;
}

.sci
{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sci li{
  list-style-type: none;
  margin: 0 20px;
  display: inline;
}
.sci li a{
  color: #777;
  font-size: 2em;
  transition: 0.5s;
}
.sci li a:hover{
  color: #fff;
}
.cpryt
{
  margin-top: 20px;
  text-align: center;
  color: #777;
}
.cpryt a,
.cpryt a:hover
{
  color: #fff;
}
@media (min-width: 992px)
{
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
}
@media (max-width: 992px)
{
  .navbar-light .navbar-toggler {
    background-color: #fff;
    border-radius: 0;
}
.banner
{
 min-height: 100vh;
 padding: 100px 0;
}
.container .navbar-brand
{
  font-size: 1.5rem;
} 
.sec2 h2
{
  font-size: 2.5rem;
}
.sec2 p
{
  font-size: 1.5rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.cpryt
{
  font-size: 0.7rem;
}
.sci li {
  margin: 0 10px;
}
.contact ul
{
  text-align: left;
}
}
  </style>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Ahmedabad University</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item">
              <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#aboutus">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#CampusDetails">Campus Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Map">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/login">Login/Register</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="jumbotron jumbotron-fluid height100p banner" id="home">
    <div class="container h100">
      <div class="contentBox h100">
      </div>
    </div>
  </div>
  <section class="sec1" id="aboutus">
    <div class="container">
      <div class="row">
        <div class="offset-sm-2 col-sm-8">
          <div class="headerText text-center">
            <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">About Us</h2>
            <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Ahmedabad University is a private,
              non-profit university that offers students a liberal education focused
              on research and interdisciplinary learning.<br />
              We seek to mould independent thinkers and compassionate leaders who go on to engage innovatively with the
              complex challenges of our societies. As a research university, we are committed to the discovery of new
              ideas, and to the belief that good theory results in good practice.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="placeBox">
          <div class="imgBx">
            <img src="/images/IMG_20200613_154142_389__01.jpg" alt="Campus" class="img-fluid" data-aos="fade-up"
              data-aos-duration="1000" data-aos-delay="500">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="placeBox">
          <div class="imgBx">
            <img src="/images/IMG_20191114_184001.jpg" alt="Campus" class="img-fluid" data-aos="fade-up"
              data-aos-duration="1000" data-aos-delay="500">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="placeBox">
          <div class="imgBx">
            <img src="/images/IMG_20191212_161300.jpg" alt="Campus" class="img-fluid" data-aos="fade-up"
              data-aos-duration="1000" data-aos-delay="500">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sec2" id="CampusDetails">
    <div class="container h100">
      <div class="contentBox h100">
        <br><br><br>
        <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Campus Details</h2>
        <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">Ahmedabad University<br>
          Commerce Six Roads<br>
          Navrangpura, Ahmedabad - 380009<br>
          Gujarat, India.</p>

      </div>
    </div>
  </section>
  <section class="Map" id="Map">
    <div class="container">
      <div class="row">
        <div class="offset-sm-2 col-sm-8">
          <div class="headertext text-center">
            <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Location</h2>
            <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">The Ahmedabad University campus is
              located in the heart of Ahmedabad city, one of India’s most historic sites and a commercial hub of western
              India. The campus is at the centre of the city’s knowledge precinct, an area that is home to some of the
              finest educational institutions in the country, such as the Indian Institute of Management, CEPT
              University, Ahmedabad Textile Industry Research Association and more.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="MapClass">
            <div class="imgBx">
              <img src="/images/Capture.PNG" class="img-fluid mx-auto d-block" alt="image" data-aos="fade-up"
                data-aos-duration="1000" data-aos-delay="1000">
            </div>
            <div class="content">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="headerText text-center">
            <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Contact Us.</h2>
            <br>
            <br>
            <ul>
              <li data-aos="fade-up" data-aos-duration="1000" data-aos-delay="250">
                +91-79-61911200, 61911201
              </li>
              <li data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                +91-79-26440396
              </li>
              <li data-aos="fade-up" data-aos-duration="1000" data-aos-delay="750">
                info@ahduni.edu.in
              </li>
            </ul>
            <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000"><br>Office Hours:
              Monday to Friday<br>
              9:00 to 18:00 hours IST.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="sci">
            <li>
              <a href="https://www.facebook.com/AhmedabadUniversity/" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/AhdUniv" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://ahduni.edu.in/" target="_blank">
                <i class="fa fa-google"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/ahduniv/" target="_blank">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/user/AhdUniVideos" target="_blank">
                <i class="fa fa-youtube" ></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/school/ahmedabaduniversity/" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
          <p class="cpryt">
            © Copyright 2020 Ahmedabad University, All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script>
    $(document).scroll(function () {
      $('.navbar').toggleClass('scrolled', $(this).scrollTop() > $('.navbar').height());
    });
  </script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>