@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  outline: none !important;
  scroll-behavior: smooth;
}

html,body
{
  overflow-x: hidden;
  font-family:'Poppins',sans-serif;
}
header{
  position: relative;
  z-index: 1000000;
}
p{
  font-size: 1.15rem;
}
.navbar
{
  background: transparent !important;
  transition: 0.5s;
}
.navbar.scrolled
{
  background: #000 !important;
  transition: 0.5s;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #000;
  background: white;
}
.navbar-light .navbar-nav .active >.nav-link:hover
{
color: black;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255,.8);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus
{
  color: rgba(255,255,255,1);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited {
  color: rgba(255,255,255,1);
  font-size: 2.5rem;
  font-weight: 600;
}

.banner
{
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  background: url(./Login/public/images/brown-book-page-1112048.jpg);
  background-size: cover;
  margin-bottom: 0;
  background-position: center;
}

.banner::before,
.sec2::before
{
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 400px;
  background: linear-gradient(#000,transparent);
  pointer-events: none;
}

.banner::after,
.sec2::after
{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 400px;
  background: linear-gradient(360deg,#000,transparent);
  pointer-events: none;
}

.height100p
{
  height: 100vh;
}

.h100p
{
  height: 100%;
}
.sec1
{
  padding: 100px 0;
  background: #000;
}
.headerText
{
  color:#fff;
 
}
.headerText h2{
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.headerText p{
  text-align: left;
}

.placeBox
{
  position: relative;
  max-width: 300px;
  height: 400px;
  margin: 0 auto;
  background: #000;
  margin-top: 30px;
}
.placeBox .imgBx
{
  width: 100%;
  height: 100%;
}
.placeBox .imgBx img
{
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec2
{
  position: relative;
  background: #000;  
  background-size: cover;
  height: 100vh;
}

.sec2 h2
{
  font-weight: 800;
  position: absolute;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff !important;
  text-transform: uppercase;
  font-size: 4.5rem;
}

.sec2 p
{
  font-weight: 800;
  font-size: 2.0rem;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(253, 253, 253);
}

.summary
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #101010;
  padding: 100px 0;;
}
.summary .container
{
  position: relative;
  width: 900px;
  display: flex;
  justify-content: space-around;
}
.summary .container .card
{
  position: relative;
  width: 250px;
  background:linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}
.summary .container .card:hover
{
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0,0,0,.5);
}
.summary .container .card::before
{
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.03);
}
.percent
{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1000;
}
.percent .number
{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.percent .number h2
{
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}
.card:hover .percent .number h2
{
  color: #fff;
  font-size: 50px;
}
.percent .number h2 span
{
  font-size: 24px;
}
.card:hover .percent .number h2 span{
  color: #fff;
}
.percent .text
{
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}
.card:hover .text
{
  color: #fff;
}
svg
{
  position: relative ;
  width: 150px;
  height: 150px;
  z-index: 1000;
}
svg circle
{
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round ;
  transform: translate(5px,5px);

}

svg circle:nth-child(2)
{
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}
.card:nth-child(1) svg circle:nth-child(2)
{
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #00ff43;
}
.card:nth-child(2) svg circle:nth-child(2)
{
  stroke-dashoffset: calc(440 - (440 * 80) / 100);
  stroke: #00a1ff;
}
.card:nth-child(3) svg circle:nth-child(2)
{
  stroke-dashoffset: calc(440 - (440 * 60) / 100);
  stroke: #ff04f7;
}
footer
{
  background-color: black;
  padding: 50px 0 0;
}

.sci
{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sci li{
  list-style-type: none;
  margin: 0 20px;
  display: inline;
}
.sci li a{
  color: #777;
  font-size: 2em;
  transition: 0.5s;
}
.sci li a:hover{
  color: #fff;
}
.cpryt
{
  margin-top: 20px;
  text-align: center;
  color: #777;
}
.cpryt a,
.cpryt a:hover
{
  color: #fff;
}
@media (min-width: 992px)
{
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
}
@media (max-width: 992px)
{
  .navbar-light .navbar-toggler {
    background-color: #fff;
    border-radius: 0;
}
.banner
{
 min-height: 100vh;
 padding: 100px 0;
}
.container .navbar-brand
{
  font-size: 1.5rem;
} 
.sec2 h2
{
  font-size: 2.5rem;
}
.sec2 p
{
  font-size: 1.5rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.cpryt
{
  font-size: 0.7rem;
}
.sci li {
  margin: 0 10px;
}
.contact ul
{
  text-align: left;
}
.summary .container
{
  align-items: center;
  justify-content: center;
  display: inline;
}

}
