<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up and login  form</title>
    <link rel="stylesheet" href="./style1.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <section>
        <div class="container">
            <div class="user signinBx">
                <div class="imgBx"><img src="../Project2/Images/abstract-art-black-background-blur-1040499.jpg" alt="images" data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="250"></div>
                <div class="formBx">
                    <form >
                        <h2 data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="250">Sign In</h2>
                        <input data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="500" type="text" name="Name" placeholder="Username">
                        <input data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="500" type="Password" name="password" placeholder="Password">
                        <input data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="500" type="Submit" name="submit" value="Login">
                        <p data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="1000" class="signup">Don't have an account?<a href="#" onclick="toggleForm();">Sign Up.</a></p>
                    </form>
                </div>
            </div>
            <div class="user signupBx">
                <div class="formBx">
                    <form >
                        <h2 >Create an Account</h2>
                        <input type="text" name="name" placeholder="Username" value="<%= typeof name != 'undefined' ? name : '' %>">
                        <input type="email" name="email" placeholder="Email Address" value="<%= typeof email != 'undefined' ? email : '' %>">
                        <input type="Password" name="password" placeholder="Create Password" value="<%= typeof password != 'undefined' ? password : '' %>">
                        <input type="Password" name="re-password" placeholder="Confirm Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
                        <input type="Submit" name="submit" value="Sign Up">
                        <p class="signup">Already have an account?<a href="#" onclick="toggleForm();">Sign In.</a></p>
                    </form>
                </div>
                <div class="imgBx"><img src="../Project2/Images/art-artwork-autumn-autumn-leaves-589808.jpg" alt=""></div>
            </div>
        </div>
    </section>
    <script>
        function toggleForm(){
            var container = document.querySelector('.container');
            container.classList.toggle('active')
        }
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>