@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  outline: none !important;
  scroll-behavior: smooth;
}

html,body
{
  overflow-x: hidden;
  font-family:'Poppins',sans-serif;
}
header{
  position: relative;
  z-index: 1000000;
}
p{
  font-size: 1.15rem;
}
.navbar
{
  background: transparent !important;
  transition: 0.5s;
}
.navbar.scrolled
{
  background: #000 !important;
  transition: 0.5s;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #000;
  background: white;
}
.navbar-light .navbar-nav .active >.nav-link:hover
{
color: black;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255,.8);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus
{
  color: rgba(255,255,255,1);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited {
  color: rgba(255,255,255,1);
  font-size: 2.5rem;
  font-weight: 600;
}

.banner
{
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  background: url(./Login/public/images/monochrome-photo-of-building-1816798.jpg);
  background-size: cover;
  margin-bottom: 0;
  background-position: center;
  background-position-y: center;
}

.banner::before,
.sec2::before
{
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 400px;
  background: linear-gradient(#000,transparent);
  pointer-events: none;
}

.banner::after,
.sec2::after
{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 400px;
  background: linear-gradient(360deg,#000,transparent);
  pointer-events: none;
}

.height100p
{
  height: 100vh;
}

.h100p
{
  height: 100%;
}

.bookvisit
{
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}
.bookvisit .container
{
  width: 80%;
  padding: 20px;
}
.bookvisit .container h2
{
  width: 100%;
  color: #45f3ff;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}
.bookvisit .container .row100
{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.bookvisit .container .row100 .col
{
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}
.bookvisit .container .row100 .inputbox
{
  position: relative;
  width: 100%;
  height: 40px;
  color: #45f3ff;
}
.bookvisit .container .row100 .inputbox input,
.bookvisit .container .row100 .inputbox.textarea textarea
{
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}
.bookvisit .container .row100 .inputbox .text
{
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}
.bookvisit .container .row100 .inputbox input:focus + .text,
.bookvisit .container .row100 .inputbox input:valid + .text
{
  top: -35px;
  left: -10px;
}
.bookvisit .container .row100 .inputbox .line
{
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #45f3ff;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}
.bookvisit .container .row100 .inputbox input:focus ~ .line,
.bookvisit .container .row100 .inputbox input:valid ~ .line
{
  height: 100%;
}
.height100p
{
  height: 100vh;
}

.h100p
{
  height: 100%;
}
.headerText
{
  color:#fff;
 
}
.headerText h2{
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.headerText p{
  text-align: left;
}
.bookvisit .container .row100 .inputbox.textarea
{
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}
.bookvisit .container .row100 .inputbox.textarea textarea
{
  height: 100%;
  resize: none;
}
.bookvisit .container .row100 .inputbox textarea:focus + .text,
.bookvisit .container .row100 .inputbox textarea:valid + .text
{
  top: -35px;
  left: -10px;
}
.bookvisit .container .row100 .inputbox textarea:focus ~ .line,
.bookvisit .container .row100 .inputbox textarea:valid ~ .line
{
  height: 100%;
}
input[type="submit"]
{
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #45f3ff;
  color: #000;
  font-size: 18px;
  border-radius: 2px;
}

.sec2
{
  position: relative;
  background: #000;  
  background-size: cover;
  height: 100vh;
}

.sec2 h2
{
  font-weight: 800;
  position: absolute;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff !important;
  text-transform: uppercase;
  font-size: 4.5rem;
}

.sec2 p
{
  font-weight: 800;
  font-size: 2.0rem;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(253, 253, 253);
}
.extra 
{
  padding: 100px 0;
  background: #000;
}
.extra li{
  color: #fff;
  text-align: center;
  list-style-type: none;
  margin: 0 20px;
  display: inline;
  font-size: 1.5rem;
}
.extra a
{
  text-decoration: none;
}
.extra .headerText  p
{
  text-align: center;
  color: #fff;
}

.extra .headerText h2
{
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 70px;
}
.contact 
{
  padding: 100px 0;
  background: #000;
}
.contact li{
  color: #fff;
  text-align: center;
  list-style-type: none;
  margin: 0 20px;
  display: inline;
  font-size: 1.5rem;
}
.contact .headerText  p
{
  text-align: center;
  color: #fff;
}

.contact .headerText h2
{
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 70px;
}


footer
{
  background-color: black;
  padding: 50px 0 0;
}

.sci
{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sci li{
  list-style-type: none;
  margin: 0 20px;
  display: inline;
}
.sci li a{
  color: #777;
  font-size: 2em;
  transition: 0.5s;
}
.sci li a:hover{
  color: #fff;
}
.cpryt
{
  margin-top: 20px;
  text-align: center;
  color: #777;
}
.cpryt a,
.cpryt a:hover
{
  color: #fff;
}
@media (min-width: 992px)
{
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
}
@media (max-width: 992px)
{
  .navbar-light .navbar-toggler {
    background-color: #fff;
    border-radius: 0;
}
.banner
{
 min-height: 100vh;
 padding: 100px 0;
}
.container .navbar-brand
{
  font-size: 1.5rem;
} 
.sec2 h2
{
  font-size: 2.5rem;
}
.sec2 p
{
  font-size: 1.5rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.cpryt
{
  font-size: 0.7rem;
}
.sci li {
  margin: 0 10px;
}
.contact ul
{
  text-align: left;
}
}
